*{
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
}
div{
    padding: 50px;
    text-align: center;
    border-radius: 1px solid #D5D5D5;
    background-color: #f5f5f5;
    border-top: 1px solid #d5d5d5;
}
h1, h2, h3, p {
    text-align: center;
    margin: 15px 0px;
}
@media only screen and (max-width: 600px) {
    p {
        font-size: 14px;
    }
}
span{
    font-weight: bold;
}
p {
    width: 930px;
    line-height: 28px;
    margin: 15px auto 30px auto;
}
a {
    padding: 10px 30px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    background-color: #49b970;
    color: #ffffff;
    border-radius: 25px;
}
img{
    width:190px;
    
}
